# flyctl launch added from .gitignore
# Ignore certificate files
# Ignore environment variables
**/.env
# Ignore build output
**/dist
# Node modules
**/node_modules
# OS files
**/.DS_Store
fly.toml
certs/signerKey.pem
certs/signerCert.pem